@charset "UTF-8";

body, div, span,
h1, h2, h3, h4, h5, h6,
a, header, section, footer, nav,
img, form, figcaption, figure,
i, p {
    margin: 0;
    padding: 0;
    border: 0;
}

ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
    font-size: 4em;
    font-weight: bold;
    transition: color 1s;
}

a:link, a:visited {
    color: #000000;
}

a:hover {
    color: rgb(208, 171, 255);
}

body {
    margin: 0;
    padding: 0;
}

.header, .main, .footer {
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer .copyright {
    font-size: 1.0em;
    padding-top: 25px;
    padding-left: 10px;
}

.icons {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.icons a {
    margin-left: 10px;
}

.icons img {
    width: 30px; 
    height: 30px;
}

header {
    background-color: powderblue;
}

ul {
    list-style: none;
    float: right;
} 
ul li {
    display: inline;
}

header:after {
    content: '';
    display: block;
    clear: both;
}

.main-menu li a {
    font-size: 1.5em; 
}

a:hover {
    color: plum; 
    cursor: pointer; 
}

.main {
    background-color: white;
    height: 95vh;
    text-align: center; 
    width: 100%;
}

.layout1 {
    width: 25%; 
    height: 100%;
    background-color: rgb(220, 246, 255); 
    float: left; 
}

.layout2 {
    width: 75%; /* 두 번째 레이아웃의 너비를 40%로 설정 */
    height: 100%;
    background-color: white; 
    float: right; 
}


.layout1 img {
    max-width: 40%; 
    max-height: 50%; 
    object-fit: cover; 
    margin-top: 30px;
}

.table {
    margin-top: 40px;
}

.table td {
    padding: 10px;
    border: 1px solid #000;
    text-align: left;
    vertical-align: top;
}