@charset "UTF-8";

body, div, span,
h1, h2, h3, h4, h5, h6,
a, header, section, footer, nav,
img, form, figcaption, figure,
i, p {
  margin: 0;
  padding: 0;
  border: 0;
}

ol, ul {list-style: none; padding: 0; margin: 0;}
a {text-decoration: none;}

body {
    margin: 0;
    padding: 0;
}

.header, .main, .footer {
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

header {
    background-color: powderblue;
}

ul {
    list-style: none;
    float: right;
} 
ul li {
    display: inline;
}

header:after {
    content: '';
    display: block;
    clear: both;
}

.main-menu li a {
    font-size: 0.6em; 
}
